# Servidor e Produção
gunicorn==21.2.0
whitenoise==6.6.0
python-dotenv==1.0.1
dj-database-url==2.1.0

# Django Core
django>=5.0
djangorestframework>=3.14
djangorestframework-simplejwt>=5.3
django-cors-headers>=4.3
django-filter>=23.5

# Banco de Dados e Mídia
psycopg2-binary>=2.9
Pillow>=10.0

# Funcionalidades Específicas
django-unfold>=0.30.0
django-import-export>=4.0.0
certifi>=2024.2.2
xhtml2pdf>=0.2.16
pypdf>=4.1.0
user-agents>=2.2.0
qrcode[pil]>=7.4.2
#sslserver>=
