
.HeaderClient {
    background-color: #ffffff;
    position: sticky;
    top: 0px;
    width: 100vw;
    display: flex;
    color: #151515;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
   
    box-shadow: 0px 0px 5px #cccccc;
}

.HeaderClient .LogoSchool {
    display: flex;
    align-items: center;
}
.HeaderClient .LogoSchool img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.HeaderClient .DataUser{
    display: flex;
    align-items: center;
}
.HeaderClient .DataUser>div{
    margin: 0px 5px;
}
.HeaderClient .DataUser .img{
    background-color: #424958;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    color: #ffffff;
}