.NavBarMenuClient {
    background-color: #fff;
    padding: 5px;
    position: fixed;
    width: 50px;
    height: 100%;
    position: fixed;
    
    transition: width .4s ease-in-out;
}

.extendsMenu {
    width: 200px;

}

.NavBarMenuClient .btnExpandir {
    color: #1f1f1f;
    display: grid;
    justify-content: center;
    align-items: center;
}

.NavBarMenuClient .btnExpandir span {
    cursor: pointer;
}

.NavBarMenuClient a {
    color: #1f1f1f;
    padding: 5px;
    display: flex;
    align-items: center;
    width: 90%;


    margin: 10px auto;

}

.NavBarMenuClient a:hover {
    background-color: #c1dfda71;
}

.NavBarMenuClient a span:nth-child(1) {
    margin: auto;
}

.extendsMenu a span:nth-child(1) {
    margin: 0px;
    margin-left: 20px;
}

.NavBarMenuClient a span:nth-child(2) {
    display: none;
    font-size: 10pt;
}

.extendsMenu a span:nth-child(2) {
    margin-left: 10px;
    display: block;
}